footer {
    background: #1b2a4e;
    min-height: 100px;
    p{
        color:$blanquito;
    text-align:center;
    }
    a{
        font-size: 26px;
    padding: 0 8px;
    color:$blanquito;
    } 
}