




#foto_auto {
    @media (min-width: $md){ 
        
            height: 14%;    
        }
    
    
    @media (min-width: $lg){   
        
        height: 23%;    
    }
    
    @media (min-width: $xl){ 
      
            height: 30%;    
        }
    
    
}